<div class="px-3 py-2 bg-dark text-white" style="background-color:#110710;">
    <div class="container">
      
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg> -->
          <img src ="./assets/er-letter.jpg" width="60" height="60" alt = "ER">
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="#" class="nav-link text-white">
                <span class="material-icons bi d-block mx-auto mb-1" width="24" height="24">
                    home
                </span>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
                <span class="material-icons bi d-block mx-auto mb-1" width="24" height="24">
                    speed
                </span>
              Dashboard
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
                <span class="material-icons bi d-block mx-auto mb-1" width="24" height="24">
                    table_view
                </span>
              Orders
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-secondary">
                <span class="material-icons bi d-block mx-auto mb-1" width="24" height="24">
                    grid_view
                </span>
              Products
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
                <span class="material-icons bi d-block mx-auto mb-1" width="24" height="24">
                    account_circle
                </span>
              Customers
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>